<%- include('../template/nav') -%>
	<h1>登陆</h1>
	<ul>
		<li>
			<p>用户名</p>
			<input type="text" id="username">
		</li>
		<li>
			<p>密码</p>
			<input type="password" id="password">
		</li>
	</ul>
		<button id="login">登陆</button>
	<script src="/jquery/dist/jquery.js"></script>
	<script>
		$(function(){
			$("#login").click(function(){
				$.post('/dologin',{
					name: $("#username").val(),
					pwd: $("#password").val()
				},function(data){
					if(data === '1'){
						alert('登陆成功');
						window.location = '/'
					}
				})
			})
		})
	</script>
</body>
</html>